<!DOCTYPE html>
<html lang="en">


<!-- Header part2. Tab menus -->
<div class = "row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <ul class="nav nav-tabs">
            <li class = "nav-item active" role="presentation"><a href="#">Events</a></li>
            <li class = "nav-item" role="presentation"><a href="/profile">My profile</a></li>

            <a class = "btn btn-default" href="/login" role="button" style="float:right" id="loginout_button">Login</a>

        </ul>
    </div>
    <div class="col-md-1"></div>
</div>
<div class = "row"> <br> </div>

</html>