<!DOCTYPE html>
<html lang="en">

<!-- Header part1. Logo -->
<div class = "row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h1 class = "main-logo">Mabebe</h1>
    </div>
    <div class="col-md-1"></div>
</div>

<!-- Header part2. Tab menus -->
<div class = "row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <ul class="nav nav-tabs">
            <li class = "nav-item active" role="presentation"><a href="#">Events</a></li>
            <li class = "nav-item" role="presentation"><a href="#">My profile</a></li>


            <a class = "btn btn-default" href="#" role="button" style="float:right" id="logout_button">Logout</a>

        </ul>
    </div>
    <div class="col-md-1"></div>
</div>

</html>